<div class="columns col-gapless">
  <div class="column col-6 col-md-8 col-sm-12 col-mx-auto">
    <form [formGroup]="loginForm">
      <div class="panel mt-5">
        <div class="panel-header">
          <div class="panel-title text-primary"><h2>Login to Post</h2></div>
        </div>
        <div class="panel-body">
          <div class="form-group" [class.has-error]="loginForm.get('username').touched && !loginForm.get('username').valid">
            <label class="form-label" for="username">User Name</label>
            <input
              class="form-input"
              type="email"
              id="username"
              placeholder="User Name"
              formControlName="username"
            />
            <p *ngIf="loginForm.get('username').touched && !loginForm.get('username').valid"
                class="form-input-hint">
                Please enter a valid email.
            </p>
          </div>
          <div class="form-group" [class.has-error]="loginForm.get('password').touched && !loginForm.get('password').valid">
            <label class="form-label" for="password">Password</label>
            <input
              class="form-input"
              type="password"
              id="password"
              placeholder="Password"
              formControlName="password"
            />
          </div>
        </div>
        <div class="panel-footer">
          <button
            type="submit"
            [disabled]="!loginForm.valid"
            class="btn btn-primary btn-block"
          >
            Login
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
