<div class="container grid-xl">
  <header class="navbar bg-light p-3 pl-5 pr-5">
    <section class="navbar-section navtitle">
      <a routerLink="/" class="navbar-brand text-uppercase mr-2 d-block "><h1 class="mb-0">wayne do</h1></a>
      <span class="text-large">coding is fun</span>
    </section>
    <section class="navbar-section navbuttons">
      <ul class="nav nav-horizontal">
        <li class="nav-item active"><a class="btn btn-link" routerLink="/">Home</a></li>
        <li class="nav-item"><a href="https://waynedo.azurewebsites.net/" target="_blank" class="btn btn-link">Resume</a></li>
        <li class="nav-item"><a href="https://github.com/dothnguyen" target="_blank" class="btn btn-link">Github</a></li>
        <li class="nav-item">
          <div class="dropdown" ><a class="btn btn-link dropdown-toggle" tabindex="0" >
          <span >UserName</span> <i class="icon icon-caret"></i></a>
          <ul class="menu">
            <li class="menu-item" ><a [routerLink]="['/admin']">Admin</a></li>
            <li class="menu-item"><a [routerLink]="['/profile']">Profile</a></li>
            <li class="divider"></li>
            <li class="menu-item"><a href="javascript:void(0);">Logout</a></li>
          </ul>
        </div>
        </li>
      </ul>
      
    </section>
  </header>

  <progress class="progress" max="100"></progress>

  <div class="main-panel">
    <router-outlet></router-outlet>
  </div>

  <footer>
    <span class="email"
      ><i class="fa fa-envelope"></i> dothnguyen@gmail.com</span
    >
    <span class="email"><i class="fa fa-phone"></i> 04-5262-9779</span>
    <div class="social">
      <a href="https://www.facebook.com/nguyen.do" target="_blank"
        ><i class="fa fa-2x fa-facebook-official"></i
      ></a>
      <a href="https://github.com/dothnguyen" target="_blank"
        ><i class="fa fa-2x fa-github"></i
      ></a>
      <a href="https://www.linkedin.com/in/dothnguyen/" target="_blank"
        ><i class="fa fa-2x fa-linkedin"></i
      ></a>
    </div>
  </footer>
</div>
