// for the header
header {
  height: 150px;
  background-color: #3582c4;

  & .navtitle * {
    color: white;
  }

  & .nav-item > a,
  & .nav-item > .dropdown > a {
    color: white;
  }

  & .nav-item > a:hover,
  & .nav-item > .dropdown > a:hover {
    color: #f0f3bd;
  }

  & .nav-item.active > a {
    color: rgb(5, 102, 141);
    background-color: white;
  }

  .navtitle {
    align-items: start;
    flex-direction: column;
  }

  .navbuttons {
    align-items: end;
  }
}

// for the progressbar
progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
}

// form main-panel
.main-panel {
  background-color: #f6f8f9;
  min-height: calc(100vh - 250px);
  display: flex;
  flex-direction: column;
}

// for footer
footer {
  height: 150px;
  background-color: #001f3f;
  display: flex;
  padding: 0.3rem;
  flex-direction: column;
  justify-content: center;
  color: #fff;

  & .email {
    padding: 0.3rem 0.5rem;
    height: auto;
    //align-self: start;
  }

  & .social {
    padding: 0.3rem 0.5rem;

    & a {
      margin-right: 1rem;
      color: white;

      &:hover {
        color: #b4d5f6;
      }
    }
  }
}
